*
{
    padding: 0 ; 
    margin: 0 ; 
    box-sizing: border-box; 
    font-family: 'Kumbh Sans', sans-serif;
}

body
{
    background-color: #F1F1F1 ; 
    
    background-color: #151320;
    height: 100vh;
}



/*-----------------------------  The Navbar section  ------------------------*/
header
{
    margin-bottom: 100px;
}
nav 
{
    display: flex; 
    background-color: #1B263B; 
    padding:20px ;  
    color: #F1F1F1;
    position:fixed ; 
    left: 0; 
    top: 0 ; 
    right: 0 ; 
}
nav ul 
{
    display: flex; 
    justify-content: center; 
}
nav ul  a
{
    color: #F1F1F1; 
    text-decoration: none;
}
nav ul  li 
{
    margin: 0 30px ; 
    list-style: none;
    font-size: 20px ;
    padding:0 5px ; 
    
}
/*-----------------------------  The Posts Section   ------------------------*/

.posts 
{
    width: 70% ; 
    margin: auto;
    padding: 20px ; 
    overflow: auto;
}

.posts .post 
{
    border-radius: 15px;
    margin: 30px  20px ; 
    padding: 20px ; 
    background-color: #f2f2f2;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.727);
}
.posts .post .img 
{
    width: 100% ; 
}
.posts .post  .img  img 
{6
    border-radius: 5px;
    width: 100% ; 
}
.posts .post .info 
{
    padding: 20px ; 
}
.posts .post .info h2
{
    font-weight: 700;
    margin: 15px 0 ;
    font-size: 30px ;
}
.posts .post .info h3 
{
    opacity: 0.7;
    margin-bottom: 20px ;
}
.posts .post .info p 
{
    
    line-height: 1.7;
}

/*-----------------------------  The Footer Section   ------------------------*/
footer
{
    background-color: #1B263B; 
    height: 100px ; 
    color: white; 
    padding: 20px ; 
}
footer .info 
{
    width: 80%; 
    margin:auto ; 
    height: 100% ;
    display:flex ; 
    justify-content:space-around ;
    text-align:center ; 
    align-items:center ; 
}
footer .info .inf0_logo
{
    padding: 5px 20px  ;
    font-size: 30px ;
    font-weight:lighter ;
    color:#AE6780 ;
    border: 2px solid #000000 ;
    border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
    box-shadow: 0 4px 12px #000000 ;
}
footer .info .inf0_logo span
{
    font-size: 25px ; 
    
    

}
footer .info ul 
{
    display:flex ; 
}
footer .info ul  a
{
    text-decoration:none ; 
    color: #F1F1F1;
}
footer .info ul  li 
{
    padding: 15px ;
    list-style: none; 
    text-shadow: 5px 5px black ;
    font-size: 25px ;
   
}
